<h1>Home</h1>
<ul class='nav nav-pills nav-stacked'>
    <li><%= link_to "Reverse Paragraph", reverse_paragraph_path %></li>
    <li><%= link_to "Check Topic Sentences", topic_sentences_path %></li>
    <li><%= link_to "Reverse Sentences", reverse_sentences_path %></li>
</ul>
