<%= link_to "<< Back", context_prompt_path(@prompt.context, @prompt) %>
<p><%= simple_format @submission.body %></p>
<hr />

<% if current_user == @submission.user %>
    <h3>Peer Feedback</h3>
    <%= render 'peer_evaluations/feedback' %>
<% elsif @submission.has_been_reviewed_by?(current_user) %>
    <div class='alert alert-success'>Thank you for your review!</div>
<% else %>
    <%= render 'peer_evaluations/form' %>
<% end %>
