<h3>Review Types</h3>
<%= form.fields_for :review_types do |review_type_form| %>
    <% ReviewType.review_types.each_pair do |id, name| %>
        <%= check_box_tag "review_types[]", id, get_review_type_form_state(@prompt, id), :id => id %> <%= name %>
    <% end %>
<% end %>
