.content {
    width: 95%;
    margin: 0 auto;
}

.large-top-margin {
    margin-top: 30px;
}

.small-top-margin {
    margin-top: 20px;
}

.wysihtml5-toolbar {
    margin-left: 0px;
    
        li {
            display: inline;
        }
}
